<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
 <system.net>
    <mailSettings>
      <smtp from="leave@isgec.co.in">
        <network host="192.9.200.214" userName="leave" password="ijt123"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ConnectionLive" value="Server=192.9.200.150; Database=IJTPerks; User Id=sa; Password=isgec12345;" />
  </appSettings>
</configuration>